h1 {
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.58);
    padding-bottom: 2rem;
  }
  
  .nav {
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .info-bar {
    display: flex;
    width: 100%;
    height: 69px;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #4d4d4d;
    padding: 10px 221px 10px 10px;
    color: #c3c3c3;
  }
  
  .info-bar h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .song-preview {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 10px 50px 10px 10px;
    flex-wrap: wrap;
    font-size: 2rem;
    border-bottom: 1px solid #4d4d4d;
    font-weight: 500;
  }
  
  .home-button {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    background-color: #c14e38;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  #navigation {
    display: flex;
    gap: 2rem;
  }

  textarea[name="content"] {
    width: 100%; /* Full width */
    padding: 10px; /* Padding for comfort */
    margin-bottom: 10px; /* Space below the textarea */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    resize: vertical; /* Allow vertical resizing, prevent horizontal resizing */
}


  input[name="rating"] {
    padding: 5px; /* Padding for comfort */
    margin-bottom: 10px; /* Space below the input */
    /* border: 1px solid #ccc; Border color */
    border-radius: 5px; /* Rounded corners */ 
    font-size: 14px; /* Font size */
    text-align: center; /* Center the number */
}

input[type="submit"] {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for comfort */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Hand cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
  background-color: #45a049; /* Darker green on hover */
}
